.navbar-inner .container, .container {
  width: 1000px;
}

.footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 45px;
  padding: 35px 0 36px;
}

.content {
  background-color: #EEEEEE;
  border-radius: 0 0 6px 6px;
  margin-top: 60px;
  padding: 60px;
}

.codehilite pre {
  font-size: 14px;
}

.input {
  height: 36px;
}

.comment {
  background-color: #F5F5F5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 3px #AAAAAA;
  margin-bottom: 15px;
  padding: 10px;
}

.comment-author span, .post-info span {
  border-bottom: 1px solid #336699;
  color: #336699;
}

.post-info span {
  margin-right: 10px;
}

.post-info {
  margin-bottom: 10px;
}
